# Venv
ai_gym/venv/.Python
ai_gym/venv/Pipfile
ai_gym/venv/bin/
ai_gym/venv/include/
ai_gym/venv/lib/
ai_gym/venv/pip-selfcheck.json

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
